.toast {
  position: fixed;
  display: block;
  top: 70px;
  right: 70px;
  width: 300px;
  overflow: hidden;
  font-size: .875rem;
  background-color: #ffffffd9;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  .toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: rgba(255,255,255,.85);
    border-bottom: 1px solid rgba(0,0,0,.05);
    
    .close{
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .toast-body{
    padding: 12px;
    font-size: 14px;
  }
}
.fade{
  opacity: 0;
  display: none;
}