$colors: (
  brand-color: #000AFC,
  faint-bg: #F8F8F9,
  faint-link: #2D67FD,
  white-color: #FFF,
  grey-color: #808080,
  light-grey: #777,
  dark-grey: #4e4e4e,
  nav-border: #c5c5c5,
);

$error: (
  error-red: #ff0000,
  error-pink: #fd6a82,
  error-faint: #fdc6cf,
);
